<div class="px-8 py-8 border-t-[0.25px] border-zinc-700">
<form action="https://api.web3forms.com/submit" method="POST" class="w-110">
    <input type="hidden" name="access_key" value="062564a5-2ba5-4588-b866-6525176c5185">
    <div class="flex justify-between w-full">
        <input type="text" name="name" required class="border-1 border-[#3a3f47] bg-[#1b1e23]">
        <input type="email" name="email" required class="border-1 border-[#3a3f47] bg-[#1b1e23]">
    </div>


  <textarea name="message" required class="border-1 border-[#3a3f47] bg-[#1b1e23] w-full"></textarea>
  <button type="submit">Submit</button>
</form>
</div>  