<div class="px-8 py-8">
    <a href="#experience">
        <h1 class="text-[#6b7178] pb-2">// experience</h1>
    </a>
<hr class='border-zinc-700'/>

<div class="flex justify-between py-4">
    <div>
    <h1 class="text-[#e6e8ea]">Full-Stack Engineer</h1>
    <p class="text-[#9aa0a8]">Insight centre for data analytics</p>
    </div>
    <p class="text-[#6b7178]">2025-now</p>
</div>

<hr class='border-zinc-700'/>

<div class="flex justify-between py-4">
    <div>
    <h1 class="text-[#e6e8ea]">Research Assistant</h1>
    <p class="text-[#9aa0a8]">Insight centre for data analytics</p>
    </div>
    <p class="text-[#6b7178]">2023-2025</p>
</div>

<hr class='border-zinc-700'/>

<div class="flex justify-between py-4">
    <div>
    <h1 class="text-[#e6e8ea]">Full-Stack Developer</h1>
    <p class="text-[#9aa0a8]">Panamerica Trade</p>
    </div>
    <p class="text-[#6b7178]">2022</p>
</div>

<hr class='border-zinc-700'/>

<div class="flex justify-between py-4">
    <div>
    <h1 class="text-[#e6e8ea]">Software Developer Intern</h1>
    <p class="text-[#9aa0a8]">Capita Business Services</p>
    </div>
    <p class="text-[#6b7178]">2018</p>
    </div>
</div>