<div class="border-y-[0.25px] border-zinc-700 px-8 py-8">
    <h1 class="text-white text-4xl">Damhan.</h1>
    <p class="text-[#9aa0a8] py-4">Dublin-based, comfortable owning a feature from schema to screen.</p>

    <div class="flex gap-x-4">
        <button class="text-[#04342C] border-1 border-[#5DCAA5] bg-[#5DCAA5] px-3 py-1">./contact</button>
        <button class="text-[#c4c8cd] border-1 px-3 py-1">cv.pdf</button>
    </div>
</div>