<div class="border-y-[0.25px] border-zinc-700 px-8 py-8">
    <h1 class="text-white text-4xl">Damhan.</h1>
    <p class="text-[#9aa0a8] py-4 w-200">when designers at Letraset and James Mosley, the librarian at St Bride Printing Library in London, took a 1914 Cicero translation and scrambled it to make dummy text for Letraset's Body Type sheets. It has survived not only many decades, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised thanks to these sheets and more recently with desktop publishing software like Aldus PageMaker and Microsoft Word including versions of Lorem Ipsum.</p>

    <div class="flex gap-x-4">
        <button class="text-[#04342C] border-1 border-[#5DCAA5] bg-[#5DCAA5] px-3 py-1">./contact</button>
        <button class="text-[#c4c8cd] border-1 px-3 py-1">cv.pdf</button>
    </div>
</div>