---

---

<nav class="relative">
<div class="flex justify-between h-12 items-center px-8">
    <a href='#' class="text-white">~/damhan</a>

    <div class="flex gap-x-4 text-zinc-400">
        <a href="#">about</a>
        <a href="#">experience</a>
        <a href="#">resume</a>
        <a href="#" class="text-[#5DCAA5] border-1 px-2">contact</a>
    </div>
</div>

</nav>
