<!doctype html>
<html lang="en" class="font-mono">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Damhan Richardson</title>
	</head>
	<body class="bg-[#14161A]">
		<slot />
	</body>
</html>